body {
	width: 100%;
	margin: 0;
	font-family: Open Sans,Helvetica Neue,Arial;
}
.container {
	margin: auto;
}
.contenttext {
}
.eyecu-title {
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: #CFB87C;
	box-shadow: 0px 2px 2px #494949;
	border: 1px solid #A2A4A3;
	border-radius: 5px;
	z-index: 15;
}
.eyecu-title > a {
	color: black;
	text-decoration: none;
}
.eyecu-title > a:hover {
	text-decoration: none;
	color: black;
	font-weight: bold;
	margin-right: 2px; 
}
.navigation {
	margin-top: -5px;
	text-align: center;
	z-index: 10;
}
.navigation > div {
	height: 40px;
}
.navitem {
	color: black;
	text-decoration: none;
}
.navitem:hover {
	color: black;
	font-weight: bold;
	color: black;
	text-decoration: none;
	margin-right: -2px; 
}
.dropdown-menu {
	left: 60px;
	top: 20px;
}
.logoicon {
	height: 75px;
	margin-left: -23px;
	margin-top: -10px;
	margin-bottom: -10px;
}
.subtext {
	padding: 10px 20px;
	margin-bottom: 40px;
}
.map_wrapper {
	/*pointer-events: none;*/
	height: 70vh;
	width: 100%;
	border: 1px solid black;
	border-radius: 5px;
	text-align: center;
}