{% extends "base.html" %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h2>Keeping an eye on the heartbeat of campus.</h2>
			<div class="subtext">
				We are a group on campus developing a system to get data on the environment on campus. We measure things like air quality, noise levels, activity, and curiosity across campus to get a better understanding of the campus atmosphere.
			</div>
			<h2>How is this possible?</h2>
			<div class="subtext">
				Because RedHat is awesome.
			</div>
			<h2>What if I want to help?</h2>
			<div class="subtext">
				That sucks, shoulda got on the bandwagon earlier!
			</div>
		</div>
	</div>
</div>
{% endblock %}