{% extends "base.html" %}

{% block content %}
<div class="container">
	<div class="col-sm-12">
		<h2 style="text-align: center;">Sensor Locations</h2>
		<div id="map" class="map_wrapper"></div>
		<script>
	      function initMap() {
	        var CUboulder = {lat: 40.0056, lng: -105.2672};
	        var map = new google.maps.Map(document.getElementById('map'), {
	          zoom: 16,
	          center: CUboulder
	        });
	        var marker = new google.maps.Marker({
	          position: CUboulder,
	          map: map
	        });
	      }
	    </script>
	    <script async defer
	    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzubALED00XuwcKBc3nzTNtQ-QzGxk9Z0&callback=initMap">
	    </script>
	</div>
</div>
{% endblock %}

<!-- https://developers.google.com/maps/documentation/javascript/ -->