{% extends "subpage_base.html" %}

{% block content %}
<div class="container">
	<h1>{{ device }}</h1>
	{% if data|length < 1 %}
	No Data to Show
	{% else %}
	<table>
	{% for row in data %}
	<tr>
	<td>{{ row['timeRecieved'] }}</td>
	<td>{{ row['light'] }}</td>
	<td>{{ row['motion'] }}</td>
	<td>{{ row['pressure'] }}</td>
	<td>{{ row['temperature'] }}</td>
	<td>{{ row['humidity'] }}</td>
	<td>{{ row['co2'] }}</td>
	<td>{{ row['button'] }}</td>
	<td>{{ row['altitude'] }}</td>
	<td>{{ row['voc'] }}</td>
	<td>{{ row['sound'] }}</td>
	</tr>
	{% endfor %}
	</table>
	{% endif %}
</div>
{% endblock %}

<!-- https://developers.google.com/maps/documentation/javascript/ -->
