{% extends "subpage_base.html" %}

{% block content %}
<div class="container">
	<div class="col-sm-12">
		<h1>{{ device }}</h1>
		<!-- <div id="map" class="map_wrapper"></div>
		<script>
	      function initMap() {
	        var CUboulder = {lat: 40.0056, lng: -105.2672};
	        var hide_features = [{featureType: "administrative", elementType: "labels", stylers: [{ visibility: "off" }]},{featureType: "poi",	    elementType: "labels", stylers: [{ visibility: "off" }]},{featureType: "water", elementType: "labels", stylers: [{ visibility: "off" }]},{featureType: "road", elementType: "labels", stylers: [{ visibility: "off" }]}]
	        var markerIcon = {path: google.maps.SymbolPath.BACKWARD_CLOSED_ARROW,
	          		 scale: 3,};
	        var map = new google.maps.Map(document.getElementById('map'), {
	          zoom: 16,
	          center: CUboulder,
	          drag: 'none',
	          zoomControl: false,
	          gestureHandling: 'none',
		      styles: hide_features,
	        });
	        {% for device in location_info %}
	        	var {{ device['varname'] }} = new google.maps.Marker({
	        		position: {lat: {{ device['coords']['lat'] }}, 
	        				   lng: {{ device['coords']['lon'] }}},
	        		map: map,
	        		icon: markerIcon,
		        });
	        	var {{ device['varname'] }}_info = new google.maps.InfoWindow({
		        	content: "<div class='marker_desc'><h4>{{ device['name'] }}</h4><hr><p><a href=\"/devices/\"{{ device['varname'] }}>Link to data</a><br>{{ device['desc'] }}</p></div>",
		        });
		        {{ device['varname'] }}.addListener('click', function() {
		        	{{ device['varname'] }}_info.open(map, {{ device['varname'] }});
		        });
	        {% endfor %}
	      }
	    </script>
	    <script async defer
	    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzubALED00XuwcKBc3nzTNtQ-QzGxk9Z0&callback=initMap">
	    </script> -->
	</div>
</div>
{% endblock %}

<!-- https://developers.google.com/maps/documentation/javascript/ -->