{% extends "subpage_base.html" %}

{% block content %}

<!-- Wrapper -->
<section id="wrapper">
  <header>
    <div class="inner">
      <h2>Frequently Asked Questions</h2>
    </div>
  </header>

  <!-- Content -->
  <div class="wrapper">
    <div class="inner">

      <section>

				<h3 class="major">Q: What data are you specifically collecting?</h3>
        <p><b>A: </b> We are collecting: Light Levels, Pressure, Temperature, Humidity, CO2, VOC and Sound Levels. Note that we are simply measuring sound levels and not actually recording any audio.</p>

				<h3 class="major">Q: Do you have University Approval for this?</h3>
        <p><b>A: </b> Yes, we have approval from Campus OIT as well as CUPD to place our devices which are connected to the university wifi to connect to our server.</p>

	
				<h3 class="major">Q: How are you sending data?</h3>
        <p><b>A: </b> All of our data is being sent through a HTTP POST request. This means our data can be openly sniffed and collected. It is sent in the following format:
        <pre><code>
'temperature=28.31', 'humidity=11.47', 'pressure=83438.14', 'altitude=5457.00', 'co2=1110', 'voc=108', 'light=40.63', 'sound=108', 'button=0', 'motion=0', 'MAC=AA:BB:CC:DD:EE:GG'  
        </pre></code>
        </p>
        <p>
        Our site then graphically displays the data in a graph as you can see <a href="http://eyecu.colorado.edu/devices/9">here</a>.</p>

        <h3 class="major">Q: Where is this data being collected?</h3>
        <p><b>A: </b> Data is being collected and sent to a database located on main campus in the SOC Lab in the DLC.</p>

        <h3 class="major">Q: Are these devices recording our conversations?</h3>
        <p><b>A: </b> No. Each device is equipped with a sound sensor, however this sensor is only detecting sound levels and not recording audio.</p>

        <h3 class="major">Q: Are these devices taking pictures?</h3>
        <p><b>A: </b> None of the devices are equipped with cameras or take any pictures. Furthermore, our project does not involve monitoring people.</p>

        <h3 class="major">Additional Questions?</h3>
        <p>Please send an email to <u>eyecu@list.colorado.edu</u></p>

     </section>



{% endblock %}
