{% block header %}
<header id="header" class="alt">
   <h1><a href="/">
        <img src="static/images/eyeCUlogo.png" style="vertical-align:middle; height:auto; width:auto; max-height: 50px;"/>
      </a></h1>

      <nav> 
        <a href="#menu">Menu</a>
      </nav>
  </header>

  <!-- Menu -->
  <nav id="menu">
    <div class="inner">
      <h2>Menu</h2>
      <ul class="links">
        <li><a href="/">Home</a></li>
        <li><a href="#">Map</a></li>
        <li><a href="#">Register Device</a></li>
        <li><a href="#">Log In</a></li>
      </ul>
      <a href="#" class="close">Close</a>
    </div>
  </nav>

  <!-- Banner -->
  <section id="banner">
    <div class="inner">
      <!--<div class="logo"><span class="icon fa-shield"></span></div>-->
      <h2>eyeCU
        <div class="ralphie"><img src="static/images/eyeCUlogo.png" 
                                  style="height: auto; width: auto; max-height: 160px; float:right; padding-bottom: 40px;"
                                  alt="" /></div>

      </h2>

      <p>The Red Buffalo Network</p>
    </div>
  </section>
{% endblock %}

