{% extends "base.html" %}

{% block content %}
  <!-- Banner -->

  <p id="version">{{session['version']}}</p>
  <div id="statusBar">
	  <p class='anim-typewriter' id='status'>{{session['motd']}}</p>
  </div>
  <section id="banner">

    <div class="inner">
      <!--<div class="logo"><span class="icon fa-shield"></span></div>-->

      <h2>eyeCU

      </h2>

      <p>The Red Buffalo Network</p>
	    <div class="banner_link_container">
				<a href="/map" class="banner_link"><li class="fa fa-map"></li>&nbsp;&nbsp;DEVICE MAP</a>
				<a href="/devices" class="banner_link"><li class="fa fa-flag"></li>&nbsp;&nbsp;DEVICE DATA</a>
				<a href="/faq" class="banner_link"><li class="fa fa-question-circle"></li>&nbsp;&nbsp;FAQ</a>
	    </div>
    </div>
  </section>
	<script src="{{ url_for('static', filename='assets/js/jquery-1.4.2.min.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/socket.io.min.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/eyecu-socketio.js') }}"></script>


<div id="page-wrapper">
  <!-- Wrapper -->
  <section id="wrapper">

    <!-- One -->
    <section id="one" class="wrapper spotlight style2">
      <div class="inner">
        <a href="#" class="image"><img src="static/images/redhatlogo.png" alt="" /></a>
        <div class="content">
          <h2 class="major">About the Project</h2>
          <p>The primary goal of the project is to establish a secure network between IoT devices planted throughout the University of Colorado campus. Each device is equipped with various sensors as well as a WiFi interface. Data from each device is sent over to our dedicated  server located in the Security Operations Center Lab (SOC-LAB).</p>
          <a href="/about" class="special">Learn more</a>
        </div>
      </div>
    </section>

    <!-- Two -->
   <!-- Three -->
    <section id="three" class="wrapper alt style1">
      <div class="inner">
        <h2 class="major">The Red Buffalo Network</h2>
        <p>Our network consists of 100 IoT devices carefully placed around our campus
        as well as three separate docker containers running on our own dedicated server.
        One docker container holds read only device information and runs this very webserver.</p>
        
        <section class="features">
          <article>
            <a href="#" class="image"><img src="static/images/slayton.jpg" alt="" /></a>
            <h3 class="major">IoT Devices</h3>
            <p>Not every device is the same. Here you can see the efforts the BTU group
            and the SOC-LAB put in to monitor our campus's health.
            </p>
            <a href="/iot" class="special">Learn more</a>
          </article>
          <article>
            <a href="#" class="image"><img src="static/images/soc2.jpg" alt="" /></a>
            <h3 class="major">SOC-LAB Server</h3>
            <p>Security is our primary focus and designing the most secure interface
            for our network was key.
            </p>
            <a href="/backend" class="special">Learn more</a>
          </article>
        </section>
     </div>
    </section>
    
  </section>

  <!-- Footer -->
  <section id="footer">
    <div class="inner">
      <h2 class="major">Get in touch!</h2>
      <p>
      Interested in getting involved or being apart of new projects around CU?
      </p>
      <p>
      CU offers a countless number of exciting projects for students and grads to be apart of.
      Contact us below for more information!
      </p>
     <ul class="contact">
        <li class="fa-home">
          University of Colorado Boulder<br />
          Boulder, CO 80309<br />
        </li>
        <li class="fa-github"><a href="https://github.com/slsp8752/eyeCU">Github Repository</a></li>
        <li class="fa-envelope"><a href="#">eyecu@lists.colorado.edu</a></li>
      </ul>
      <ul class="copyright">
        <li>&copy; eyeCU All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
      </ul>
    </div>
  </section>
</div>


{% endblock %}
