{% extends "subpage_base.html" %}

{% block content %}
<div class="container">
	<div id="map" class="map_wrapper"></div>
		<script>
	      function initMap() {
	        var CUboulder = {lat: 40.0056, lng: -105.2672};
  	        var theme = [
  {
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#ebe3cd"
      }
    ]
  },
  {
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#523735"
      }
    ]
  },
  {
    "elementType": "labels.text.stroke",
    "stylers": [
      {
        "color": "#f5f1e6"
      }
    ]
  },
  {
    "featureType": "administrative",
    "elementType": "geometry.stroke",
    "stylers": [
      {
        "color": "#c9b2a6"
      }
    ]
  },
  {
    "featureType": "administrative.land_parcel",
    "elementType": "geometry.stroke",
    "stylers": [
      {
        "color": "#dcd2be"
      }
    ]
  },
  {
    "featureType": "administrative.land_parcel",
    "elementType": "labels",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "administrative.land_parcel",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#ae9e90"
      }
    ]
  },
  {
    "featureType": "landscape.natural",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#dfd2ae"
      }
    ]
  },
  {
    "featureType": "poi",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#dfd2ae"
      }
    ]
  },
  {
    "featureType": "poi",
    "elementType": "labels.text",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "poi",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#93817c"
      }
    ]
  },
  {
    "featureType": "poi.park",
    "elementType": "geometry.fill",
    "stylers": [
      {
        "color": "#a5b076"
      }
    ]
  },
  {
    "featureType": "poi.park",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#447530"
      }
    ]
  },
  {
    "featureType": "road",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#f5f1e6"
      }
    ]
  },
  {
    "featureType": "road.arterial",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#fdfcf8"
      }
    ]
  },
  {
    "featureType": "road.highway",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#f8c967"
      }
    ]
  },
  {
    "featureType": "road.highway",
    "elementType": "geometry.stroke",
    "stylers": [
      {
        "color": "#e9bc62"
      }
    ]
  },
  {
    "featureType": "road.highway.controlled_access",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#e98d58"
      }
    ]
  },
  {
    "featureType": "road.highway.controlled_access",
    "elementType": "geometry.stroke",
    "stylers": [
      {
        "color": "#db8555"
      }
    ]
  },
  {
    "featureType": "road.local",
    "elementType": "labels",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "road.local",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#806b63"
      }
    ]
  },
  {
    "featureType": "transit.line",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#dfd2ae"
      }
    ]
  },
  {
    "featureType": "transit.line",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#8f7d77"
      }
    ]
  },
  {
    "featureType": "transit.line",
    "elementType": "labels.text.stroke",
    "stylers": [
      {
        "color": "#ebe3cd"
      }
    ]
  },
  {
    "featureType": "transit.station",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#dfd2ae"
      }
    ]
  },
  {
    "featureType": "water",
    "elementType": "geometry.fill",
    "stylers": [
      {
        "color": "#b9d3c2"
      }
    ]
  },
  {
    "featureType": "water",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#92998d"
      }
    ]
  },
  {
    "featureType": "poi",
    "elementType": "labels",
    "stylers": [{ "visibility": "off" }]
  }
];
	        var hide_features = [{featureType: "administrative", elementType: "labels", stylers: [{ visibility: "off" }]},{featureType: "poi", elementType: "labels", stylers: [{ visibility: "off" }]},{featureType: "water", elementType: "labels", stylers: [{ visibility: "off" }]},{featureType: "road", elementType: "labels", stylers: [{ visibility: "off" }]}];
	        var markerIcon = {path: google.maps.SymbolPath.BACKWARD_CLOSED_ARROW,
	          		 scale: 3,};
	        var map = new google.maps.Map(document.getElementById('map'), {
	          zoom: 16,
	          center: CUboulder,
	          drag: 'none',
	          zoomControl: false,
	          gestureHandling: 'none',
		  styles: theme,
	        });


	        {% for device in location_info %}
	        	var {{ device['varname'] }} = new google.maps.Marker({
	        		position: {lat: {{ device['coords']['lat'] }}, 
	        				   lng: {{ device['coords']['lon'] }}},
	        		map: map,
	        		icon: markerIcon,
		        });
	        	var {{ device['varname'] }}_info = new google.maps.InfoWindow({
				content: "<div class='marker_desc'><h4>{{ device['name'] }}</h4><hr><br>{{ device['desc'] }}</p><p><a href='/devices/{{ device['id']) }}' style='color: grey;'>View Device Data ></a></div>",
		        });
		        {{ device['varname'] }}.addListener('click', function() {
		        	{{ device['varname'] }}_info.open(map, {{ device['varname'] }});
		        });
	        {% endfor %}
	      }
	    </script>
	    <script async defer
	    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzubALED00XuwcKBc3nzTNtQ-QzGxk9Z0&callback=initMap">
	    </script>
</div>
{% endblock %}

<!-- https://developers.google.com/maps/documentation/javascript/ -->
