.banner_link_container {
	text-align: center;
}

.banner_link {
	font-weight: bold;
	margin-left: 20px;
	margin-right:20px;
	border-bottom: none;
}

.banner_link:hover {
	color: #6ad3ff;
}

.list_link {
	display: block;
	outline: 0;
	border: none;
}

.status_table {
	width: 80%;
	margin: auto;
	text-shadow: 1px 1px 1px black;
}

.device_status {
	margin-right: 30vw;
}

.chart {
	width: 900px;
	height: 600px;
	margin: auto;
	margin-bottom: 20px;
	background: #dddddd;
	padding: 10px;
	padding-top: 50px;
	border-radius: 10px;
}

.container {
	padding-top: 130px;
}

.map_wrapper {
	height: 75vh;
	width: 100%;
	border: 1px solid black;
	border-radius: 5px;
	text-align: center;
	max-width: 80vw;
	margin:auto;
}

@media screen and (min-width: 1280px) {
	top: 100px;
}

.marker_desc {
	color: black;
	max-width: 250px;
}

.marker_desc > h4 {
	font-size: 20px;
	color: black;
	margin: 0px;
}

.marker_desc > hr {
	color: black;
	margin: 5px 0px 15px 0px;
	border-bottom: 1px solid;
}

.marker_desc > p {
	text-align: left;
}

.marker_desc > a {
	color: black;
}

.loginform {
	margin-top: 35vh;
}

form {
	width: 600px;
	margin: auto;
	margin-bottom: 10px;
	padding: 25px;
	padding-bottom: 10px;
	border-radius: 5px;
	background: rgba(0, 0, 0, 0.75);
	border: 1px solid black;
  	z-index: 1;
}

form > textarea {
	resize: none;
}

form > div {
	text-align: right;
}

form > h2 {
	text-align: center;
}

#snow{
	background: none;
	font-family: Androgyne;
	background-image: url('../../images/snow.jpg');
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	-webkit-animation: snow 10s linear infinite;
	-moz-animation: snow 10s linear infinite;
	-ms-animation: snow 10s linear infinite;
	animation: snow 10s linear infinite;
	z-index: -1;
	position: fixed;
	opacity: .04;

}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}

#version {

  position: absolute;
  top: 1.5vh;
  padding-left: 15px;
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
  opacity: .4;
}

#statusBar {

	padding-top: 6.5vh;
	padding-left: 15px;
	display: block;
	height: 17vh;
	overflow: hidden;
	background: transparent;

}

#status {

	position: relative;
	color: #6ad3ff;
	font-weight: bold;
	opacity: .3;
	resize: none;
	text-align: left;
/*	padding-left: 15px;
	padding-right: 10vw;*/
	margin: 0;
	margin-bottom: -8px;
	white-space: nowrap;
	overflow: hidden;

}

#status:nth-child(even) {
	color: #ddfdff;
}


/* Animation */
.anim-typewriter{
  animation: typewriter 4.5s steps(58) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 100%;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

/* The alert message box */
.alert {

    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 500px;
    margin-top: 10vh;
    padding: 20px;
    background-color: #45558d;
    font-weight: bold;
    z-index: 15;
    border-radius: 10px;
    box-shadow: 0px 5px 5px #333;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}
