{% extends "subpage_base.html" %}

{% block content %}

<!-- Wrapper -->
<section id="wrapper">
  <header>
    <div class="inner">
      <h2>About the Project</h2>
      <p>A look at our setup</p>
    </div>
  </header>

  <!-- Content -->
  <div class="wrapper">
    <div class="inner">

      <section>
        <h3 class="major">Overview</h3>
        The University of Colorado ATLAS Institute (ATLAS) and Interdisciplinary Telecom Program (ITP) are jointly developing an IoT ecosystem that aims to speed deployment and understanding of IoT devices and their interaction with cloud infrastructure. The goal of the project is to use this ecosystem to keep an eye on the environment on campus and ti display that data openly in a user friendly way. This work was generously funded by RedHat.<br><br>


      </section>
    </div>
  </div>
</section>



{% endblock %}
