{% extends "subpage_base.html" %}

{% block content %}
<div class="container">
{% if data["timeRecieved"]|length %}

<link rel="stylesheet" href="{{url_for('static', filename='assets/css/circle.css')}}" />


<script>
function displayData() {
	document.getElementById('deviceData').style.display = "initial";
	document.getElementById('deviceStats').style.display = "none";
	document.getElementById('floater').style.marginLeft = "40%";
}
function displayStats() {
	document.getElementById('deviceData').style.display = "none";
	document.getElementById('deviceStats').style.display = "initial";
	document.getElementById('floater').style.marginLeft = "53%";
}
</script>
<div class="display_device_nav">
		<a id="sone" href="/devices"><b>Devices</b></a> |
		<a id="stwo" href="#" onclick="displayData()"><b>Data</b></a> |
		<a id="sthree" href="#" onclick="displayStats()"><b>Statistics</b></a> |
		<a id="sfour" href="/map"><b>Map</b></a>
		<br>
		<hr id="floater"/>
</div>

<div id="deviceData">
<div class="chart ch_height"><canvas id="env_chart"></canvas></div>
<div class="chart ch_height"><canvas id="act_chart"></canvas></div>
<div class="chart ch_height"><canvas id="atm_chart"></canvas></div>
<div class="chart"><div style="float:left; margin: 0 0 0 10%;"><canvas id="button_int_chart"></canvas></div><div style="float: right; margin: 0 10% 0 -10%;"><canvas id="motion_int_chart"></canvas></div><div style="height:20px;clear:both;"></div></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script>
	var ctx = document.getElementById('env_chart').getContext('2d');
	var env_chart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [{% for timestamp in data["timeRecieved"] %}"{{ timestamp }}",{% endfor %}],
        datasets: [{
            label: "Light",
            borderColor: 'rgb(255, 99, 132)',
            data: {{ data["light"] }},
            fill: false,
        }, {
        		label: "Temperature",
        		borderColor: 'rgb(0, 255, 0)',
        		data: {{ data["temperature"] }},
        		fill: false,
        }, {
        		label: "Humidity",
        		borderColor: 'rgb(100, 100, 125)',
        		data: {{ data["humidity"] }},
        		fill: false,
        }]
    },
    options: {
        title: {
        	display: true,
        	text: "{{ device }} - Environment",
        	fontSize: 30,
        },
        maintainAspectRatio: false,
    },
	});
	var ctx2 = document.getElementById('act_chart').getContext('2d');
	var act_chart = new Chart(ctx2, {
		type: 'line',
		data: {
        labels: [{% for timestamp in data["timeRecieved"] %}"{{ timestamp }}",{% endfor %}],
        datasets: [{
        		label: "VOC",
        		borderColor: 'rgb(200, 0, 200)',
        		data: {{ data["voc"] }},
        		fill: false,
        }, {
        		label: "Sound",
        		borderColor: 'rgb(0, 100, 255)',
        		data: {{ data["sound"] }},
        		fill: false,
        }]
    },
    options: {
    	title: {
    		display: true,
    		text: "{{ device }} - Activity",
    		fontSize: 30,
    	},
      maintainAspectRatio: false,
    },
  });
  var ctx3 = document.getElementById('button_int_chart').getContext('2d');
  var int_chart = new Chart(ctx3, {
		type: 'pie',
		data: {
        labels: ["Pressed", "Not Pressed"],
        datasets: [{
        		data: [{{ data["button_pressed"]|length }}, {{ data["button_not_pressed"]|length }}],
        		backgroundColor: ['rgb(255, 102, 102)', 'rgb(255, 255, 102)'], 
        }]
    },
    options: {
    	title: {
    		display: true,
    		text: "{{ device }} - Interaction",
    		fontSize: 30,
    	},
    },
  });

  var ctx4 = document.getElementById('motion_int_chart').getContext('2d');
  var int_chart = new Chart(ctx4, {
		type: 'pie',
		data: {
        labels: ["Motion", "No Motion"],
        datasets: [{
        		data: [{{ data["motion"]|length }}, {{ data["no_motion"]|length }}],
        		backgroundColor: ['rgb(102, 255, 102)', 'rgb(0, 0, 200)'], 
        }]
    },
    options: {
    	title: {
    		display: true,
    		text: "{{ device }} - Motion",
    		fontSize: 30,
    	},
    },
  });

	var ctx5 = document.getElementById('atm_chart').getContext('2d');
  var atm_chart = new Chart(ctx5, {
  	type: 'line',
  	data: {
        labels: [{% for timestamp in data["timeRecieved"] %}"{{ timestamp }}",{% endfor %}],
        datasets: [{
        		label: "Altitude",
        		borderColor: 'rgb(0, 150, 200)',
        		data: {{ data["altitude"] }},
        		fill: false,
        }, {
        		label: "CO2",
        		borderColor: 'rgb(200, 200, 200)',
        		data: {{ data["co2"] }},
        		fill: false,
        }, {
        		label: "Pressure",
        		borderColor: 'rgb(125, 125, 0)',
        		data: {{ data["pressure"] }},
        		fill: false,
        }]
    },
    options: {
    	title: {
    		display: true,
    		text: "{{ device }} - Atmosphere",
    		fontSize: 30,
    	},
      maintainAspectRatio: false,
    },
  });

</script>
</div>
<div id="deviceStats" style="display: none;">
	<div class="chart">
		<h1>{{ device }}</h1>
		<table class="stats_table"> 
			<tr>
				<td><span class="stats_title">Device Uptime</span>
					<br><br>
					<div class="c100 p{{ data['expectedSubmissionsPercent']|int }}{% if data['expectedSubmissionsPercent']|int > 75 %} green{% elif data['expectedSubmissionsPercent']|int > 50 %} yellow{% elif data['expectedSubmissionsPercent']|int > 25 %} orange{% else %} red{% endif %}">
						<span>{{ '%0.2f' % data['expectedSubmissionsPercent'] }}% </span>
					<div class="slice">
						<div class="bar"></div>
						<div class="fill"></div>
					</div>
					</div>
					</td>
				<td><span class="stats_title">Last Data</span><br><br>
				{% if data['lastDataMins'] == 0 %}Just Now<br>
				{% elif data['lastDataMins'] == 1 %}1 Minute Ago<br>
				{% elif data['lastDataMins'] < 60 %}{{ data['lastDataMins'] }} Minutes Ago<br>
				{% elif (data['lastDataMins']/60)|int == 1 %}1 Hour Ago<br>
				{% elif data['lastDataMins']/60 < 24 %}{{ (data['lastDataMins']/60)|int }} Hours Ago<br>
				{% elif (data['lastDataMins']/1440)|int == 1 %}1 Day Ago<br>
				{% elif data['lastDataMins']/1440 < 30 %}{{ (data['lastDataMins']/1440)|int }} Days Ago<br>
				{% endif %}
				{{ data['timeRecieved']|last }}</td>
			</tr>
		</table>
	</div>
</div>
{% else %}
	<div style="margin:auto; max-width:500px; font-size:40px; text-align: center;">No data to display!</div>
{% endif %}
</div>
{% endblock %}

<!-- legend: {display: false}, -->
<!-- https://developers.google.com/maps/documentation/javascript/ -->
